{% extends "layout.html" %}

{% block title %}Edit Profile{% endblock %}
{% block description %}Edit Profile of Django Boilerplate project{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'profile_edit' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div data-alert class="alert-box alert">
            {{ form.non_field_errors }}
            <a href="#" class="close">&times;</a>
        </div>
        {% endif %}

        <div class="row">
            <div class="medium-6 medium-centered columns">
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="fieldWrapper{% if form.first_name.errors %} error{% endif %}">
                            <label>
                                First Name:
                                {{ form.first_name }}
                            </label>
                            {% if form.first_name.errors %}
                            <small class="error">{{ form.first_name.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="fieldWrapper{% if form.last_name.errors %} error{% endif %}">
                            <label>
                                Last Name:
                                {{ form.last_name }}
                            </label>
                            {% if form.last_name.errors %}
                            <small class="error">{{ form.last_name.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="fieldWrapper{% if form.email.errors %} error{% endif %}">
                    <label>
                        Email:
                        {{ form.email }}
                    </label>
                    {% if form.email.errors %}
                    <small class="error">{{ form.email.errors }}</small>
                    {% endif %}
                </div>

                <hr>

                <div class="fieldWrapper{% if form.old_password.errors %} error{% endif %}">
                    <label>
                        Current password:
                        {{ form.old_password }}
                    </label>
                    {% if form.old_password.errors %}
                    <small class="error">{{ form.old_password.errors }}</small>
                    {% endif %}
                </div>

                <div class="fieldWrapper{% if form.new_password1.errors %} error{% endif %}">
                    <label>
                        New password:
                        {{ form.new_password1 }}
                    </label>
                    {% if form.new_password1.errors %}
                    <small class="error">{{ form.new_password1.errors }}</small>
                    {% endif %}
                </div>

                <div class="fieldWrapper{% if form.new_password2.errors %} error{% endif %}">
                    <label>
                        New password confirm:
                        {{ form.new_password2 }}
                    </label>
                    {% if form.new_password2.errors %}
                    <small class="error">{{ form.new_password2.errors }}</small>
                    {% endif %}
                </div>

                <input type="submit" class="button small" value="Update Profile" />
            </div>
        </div>
    </form>
</div>
{% endblock %}