{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}
{% block description %}Password Reset of Django Boilerplate project{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'reset_password' uid %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div data-alert class="alert-box alert">
            {{ form.non_field_errors }}
            <a href="#" class="close">&times;</a>
        </div>
        {% endif %}

        <div class="row">
            <div class="medium-6 small-10 small-centered columns">
                <div class="fieldWrapper{% if form.new_password1.errors %} error{% endif %}">
                    <label>
                        New password:
                        {{ form.new_password1 }}
                    </label>
                    {% if form.new_password1.errors %}
                    <small class="error">{{ form.new_password1.errors }}</small>
                    {% endif %}
                </div>

                <div class="fieldWrapper{% if form.new_password2.errors %} error{% endif %}">
                    <label>
                        New password confirm:
                        {{ form.new_password2 }}
                    </label>
                    {% if form.new_password2.errors %}
                    <small class="error">{{ form.new_password2.errors }}</small>
                    {% endif %}
                </div>

                <input type="submit" class="button small" value="Submit" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
