{% extends base_template %}

{% block title %}Forgot Password{% endblock %}
{% block description %}Forgot password form of Django Boilerplate project{% endblock %}

{% block content %}
<div class="container">
    {% if ajax_header %}
    <h1 class="text-center">{{ ajax_header }}</h1>
    <hr>
    {% endif %}
    <form method="POST" action="{% url 'forgot_password' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div data-alert class="alert-box alert">
            {{ form.non_field_errors }}
            <a href="#" class="close">&times;</a>
        </div>
        {% endif %}

        <div class="row">
            {% if ajax_header %}
            <div class="small-12">
            {% else %}
            <div class="medium-6 small-10 small-centered columns">
            {% endif %}
                <div class="field-wrapper{% if form.email.errors %} error{% endif %}">
                    <label>
                        Email:
                        {{ form.email }}
                    </label>
                    {% if form.email.errors %}
                    <small class="error">{{ form.email.errors }}</small>
                    {% endif %}
                </div>

                <input type="submit" class="button small" value="Submit" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
