{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | {{ settings.SITE_NAME }}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/app.css" %}">
        {% block style %}{% endblock %}

        <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include "top_nav.html" %}

        <div id="mainModal" class="reveal-modal" data-reveal role="dialog">
            <div data-body></div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        {% block content %}{% endblock %}

        <script data-main="{% static "js/config.js" %}" src="{% static "bower_components/requirejs/require.js" %}"></script>
    </body>
</html>