{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | {{ settings.SITE_NAME }}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}">
        <link rel="stylesheet" href="{% static "build/css/app.css" %}">
        <script src="{% static "build/js/modernizr.js" %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include "top_nav.html" %}

        <div id="mainModal" class="reveal-modal" data-reveal role="dialog">
            <div data-body></div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        {% block content %}{% endblock %}

        {% if settings.DEBUG %}
        <script data-main="{% static "js/config.js" %}" src="{% static "bower_components/requirejs/require.js" %}"></script>
        {% else %}
        <script src="{% static "build/js/app.js" %}"></script>
        {% endif %}
    </body>
</html>