<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">{{ settings.SITE_NAME }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
            <li><a href="{% url 'signout' %}">Sign out</a></li>
        {% else %}
            <li><a href="{% url 'signin' %}" data-modal="{% url 'signin' %}" data-title="Sign In">Sign In</a></li>
            <li><a href="{% url 'signup' %}" data-modal="{% url 'signup' %}" data-title="Sign Up">Sign Up</a></li>
        {% endif %}
        </ul>
    </section>
</nav>