{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | {{ settings.SITE_NAME }}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/app.css" %}">
        {% block style %}{% endblock %}

        <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">{{ settings.SITE_NAME }}</a></h1>
            </li>
          </ul>
        </nav>

        {% block content %}{% endblock %}
        <script data-main="{% static "js/config.js" %}" src="{% static "bower_components/requirejs/require.js" %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>